@import "tailwindcss";

:root {
  --color-background: #f9fafb;
  --color-header: #ffffff;

  --color-violet600: #7C3AED;
  --color-violet100: #EDE9FE;
  --color-rose500: #F43F5E;
  --color-lime300: #BEF264;
  --color-amber800: #92400E;

  --color-slate900: #0F172A;
  --color-slate800: #1E293B;
  --color-slate500: #64748B;
  --color-slate400: #94A3B8;
  --color-slate300: #CBD5E1;
  --color-slate200: #E2E8F0;
  --color-slate100: #F1F5F9;
}

/* 전역 폰트 설정 */
@import url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare.css');

body {
  background-color: var(--color-background);  
  color: var(--color-slate900);               
  font-family: 'NanumSquare';
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--color-header); 
  color: var(--color-slate900);
  padding: 0.5rem;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); 
}

input:focus {
  outline: none;
}
